#intro {
    width: 100%;
    height: auto;
    max-width: 65rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.bg {
    position: absolute;
    top: 3rem;
    right: 6rem;
    object-fit: cover;
    height: 70%;
    border-radius: 50%;
    
    margin-left: 1rem;
}

.introContent {
    height: auto;
    width: 100%;
    max-width: 80%;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.introParagraph {
    margin-left: 1rem;
    z-index: 1; 
}

.introParagraph.hello {
    font-size: 1.7rem;
    font-weight: 100;
}

.introName {
    color: #d8b04a;
}

.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

.water-frame-container {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.water-frame {
    border: 4px solid blue;
    border-radius: 50%;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.image {
    width: 100%;
    height: auto;
    display: block;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.water-frame {
    animation: wave 2s infinite;
}

@media (max-width: 768px) {

    .introImage{
        margin-bottom: 17rem;
    }

    .bg {
        order: 1;
        width: auto;
        top: 2rem;
        right: auto;
        left: 15rem;
        transform: translateX(-50%); 
        height: 50%;
    }

    .introContent {
        flex-direction: column;
        align-items: center;
        font-size: 16px;
    }

    .introParagraph {
        margin-left: 0;
        margin-top: 2rem;
        
    }

    .hello, .introText {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 480px) {

    .introImage{
        margin-bottom: 10rem;
    }
    .bg {
        top: 1.5rem;
        right: auto;
        left: 8rem;
        transform: translateX(-50%);
        width: 40%;
        height: auto;
    }
}
