.footer {
    width: 100vw;
    height: 4rem;
    background: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
    color: white;
    margin: 50px 0;    
}

.footerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 60rem;
}

.footerText{
    font-size: 20px;
}

.socialIcons {
    display: flex;
    gap: 1rem;
    margin-right: 20px;
}

.socialIcon {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 50%;
    background-color: black;
    transition: background-color 0.3s, transform 0.3s;
}

.socialIcon img {
    width: 1.5rem;
    height: 1.5rem;
    filter: invert(100%);
}

.socialIcon:hover {
    background-color: white;
    transform: scale(1.1);
}

.socialIcon:hover img {
    filter: invert(0%);
}
